<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link rel="stylesheet" href="../../../element-ui/lib/theme-chalk/index.css">
        <script src="../../../js/vue.js"></script>
        <script src="../../../element-ui/lib/index.js"></script>
    </head>

    <body>
        <div id="div">
            <el-form :model="ruleForm" :rule="rules" ref="releForm" lable-width="100px" class="demo-ruleForm">
                <el-form-item label="activityName" prop="name">
                    <el-input v-model="ruleForm.name"></el-input>
                </el-form-item>
            <el-form-item label="activityArea" prop="region">
                <el-option label="region1" value="shanghai"></el-option>
                <el-option label="region2" value="shengzhen"></el-option>
            </el-form-item>
            <el-form-item label="activityTime" required>
                <el-col :span="11">
                    <el-form-item prop="date1">
                        <el-time-picker type="date" placeholder="chooseDate" v-model="ruleForm.date1" style="width:100%;"></el-date-picker>
                    </el-form-item>
                </el-col>
                <el-col class="line" :span="2"></el-col>
                <el-col :span="11">
                    <el-form-item prop="date2">
                        <el-time-picker placeholder="chooseTime" v-model="ruleForm.date2" style="width:100%"></el-time-picker>
                    </el-form-item>
                </el-col>
            </el-form-item>
            <el-form-item label="deliveryInstant" prop="delivery">
                <el-switch v-model="ruleForm.delivery"></el-switch>
            </el-form-item>
            <el-form-item label="activitytype" prop="type">
                <el-checkbox-group>
                    <el-checkbox label="food" name="type"></el-checkbox>
                    <el-checkbox label="promotion" name="type"></el-checkbox>
                    <el-checkbox label="themeActivity" name="type"></el-checkbox>
                    <el-checkbox label="brand" name="type"></el-checkbox>
                </el-checkbox-group>
            </el-form-item>
            <el-form-item label="resource" prop="resource">
                <el-radio-group v-model="ruleForm.resource">
                    <el-radio label="onlineBrand"></el-radio>
                    <el-radio label="onlineFreeArea"></el-radio>
                </el-radio-group>
            </el-form-item>
            <el-form-item label="activityType" prop="desc">
                <el-input type="textarea" v-model="ruleForm.desc"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click="submitForm('ruleForm')">createNow</el-button>
                <el-button type="resetForm('ruleForm')">reset</el-button>
            </el-form-item>
            </el-form>
        </div>        
    </body>

    <script>
        new Vue({
            el:"#div",
            data:{
                ruleForm:{
                    name: '',
                    region: '',
                    date1: '',
                    date2: '',
                    delivery: false,
                    type: [],
                    resource: '',
                    desc: ''
                }
            }
        })

    </script>


</html>